body {
  font-family: Roboto, "ヒラギノ角ゴ Pro W3", "メイリオ", "sans-serif", "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体";
  background-color: #f6ecf7;
}

.list_main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 70px;
  height: 70px;
}

.list_main h1 {
  font-size: 20px;
  color: #555;
  margin: 20px;
}

fieldset {
  border-style: none;
}

#output {
  list-style: none;
  padding-left: 0px;
}

.cattle_info {
  display: flex;
  text-decoration: none;
}

.image {
  width: 140px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.cattle_info:hover {
  opacity: 0.5;
  cursor: pointer;
  cursor: hand;
}

.text {
  color: #555;
  font-size: 14px;
  margin-left: 20px;
}

.submit_btn {
  width: 180px;
  height: 30px;
  border-radius: 30px;
  color: #f6ecf7;
  font-weight: bolder;
  text-decoration: none;
  background-color: #FF6ED8;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 70px;
}

.submit_btn:hover {
  opacity: 0.5;
  cursor: pointer;
  cursor: hand;
}
